body{
	overflow-x: hidden;
}

.border {
    border-radius: 3px !important;
}
.offers {
background-color: #f7f7f7;
padding: 1em 2em;
margin: 1em 1em ;
border-radius: 3px;
}
.offers.premium{
	background-color: #e3e3e3;
}
.offers_header{
	font-family: 'Muli', bold;

}
h4.offers_header{
	text-align: center;
	color:#00aeef;
}
.currency {
  top: 0.5rem;
  font-size: 1rem;
  margin-right: 1.5rem;
}

.amount{
    font-size: 2.35rem
}
.amount_sale{
	color: #4d4d4d;
    display: inline-block;
    font-size: 1.25rem;
    margin-left: 0.1rem;
    text-decoration: line-through;
}
.card-text{
		text-align: center;
}

.info-label {
	color: #FA8072;
  border-style: solid;
  border-width: 0 4.375rem 2.5rem 0;
  height: 0px;
  width: 0px;
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}
.info-label-text {
  color: #fefefe;
  font-size: 0.75rem;
  font-weight: bold;
  position: relative;
  right: -2.5rem;
  top: 2px;
  white-space: nowrap;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.offers .premium .alert {
  border-color: #cc4b37;
}

/*----------------*/


.card-info {
  background: #fefefe;
  border: 1px solid #8a8a8a;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  margin: 1rem 0;
  overflow: hidden;
  border-radius: 0;
}

.card-info .card-info-label {
  border-color: transparent #8a8a8a transparent transparent;
  border-color: rgba(255, 255, 255, 0) #8a8a8a rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}


.card-info.primary .card-info-label {
  border-color: transparent #1779ba transparent transparent;
  border-color: rgba(255, 255, 255, 0) #1779ba rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.card-info.secondary .card-info-label {
  border-color: transparent #767676 transparent transparent;
  border-color: rgba(255, 255, 255, 0) #767676 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.card-info.info {
  border-color: #37a0e6;
}

.card-info.info .card-info-label {
  border-color: transparent #37a0e6 transparent transparent;
  border-color: rgba(255, 255, 255, 0) #37a0e6 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.card-info.alert {
  border-color: #cc4b37;
}

.card-info.alert .card-info-label {
  border-color: transparent #cc4b37 transparent transparent;
  border-color: rgba(255, 255, 255, 0) #cc4b37 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}


.card-info.success .card-info-label {
  border-color: transparent #3adb76 transparent transparent;
  border-color: rgba(255, 255, 255, 0) #3adb76 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.card-info.warning {
  border-color: #ffae00;
}

.card-info.warning .card-info-label {
  border-color: transparent #ffae00 transparent transparent;
  border-color: rgba(255, 255, 255, 0) #ffae00 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.card-info .card-info-label {
  border-style: solid;
  border-width: 0 4.375rem 2.5rem 0;
  float: right;
  height: 0px;
  width: 0px;
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.card-info .card-info-content {
  padding: 0.5rem 1.5rem 0.875rem;
}

.card-info .card-info-label-text {
  color: #fefefe;
  font-size: 0.75rem;
  font-weight: bold;
  position: relative;
  right: -2.5rem;
  top: 2px;
  white-space: nowrap;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}

